<div class="logo"><img src="https://github.com/blankey1337/burst-starman/blob/master/src/images/logo.png?raw=true"></div>

<h1 class="title">We’re sending Burst to space, literally.</h1>

<div class="panel-group">
  <div class="panel">

    <h2>What is Burst?</h2>
    <h3>Burst is a cryptocurrency from the future.</h3>
    <p>Using a revolutionary consensus protocol called Proof of Capacity, Burst practically eliminates the energy costs
      associated with mining.</p>

  </div>

  <div class="panel">
    <img src="https://github.com/blankey1337/burst-starman/blob/master/src/images/rocket.png?raw=true">
  </div>


  <div class="panel">
    <ul>
      <li class="energy">5000X more energy efficient than Bitcoin<a href="https://steemit.com/cryptocurrency/@sarcanius/burstcoin-the-future-of-bitcoin-400-times-more-energy-efficient" target="_blank"><sup>1</sup></a></li>
      <li class="decentralized">Truly decentralized: no pre-mine, no ICO</li>
      <li class="features">Smart Contracts, Asset Exchange, and more</li>
    </ul>
  </div>
</div>

<h1>Wait, seriously?</h1>
<p>To celebrate the launch of the new <a href="https://github.com/burst-apps-team/phoenix/releases" target="_blank">Phoenix Burst Wallet</a>, we wanted to do something that symbolizes our excitement and
  celebrates our achievement. This is why we’ve linked up with the crazy minds at <a href="https://stackblitz.com" target="_blank">StackBlitz</a> to <a href="https://deployto.space/" target="_blank">launch this website
  promoting Burst into space</a>.</p>

<h1>Why are we doing this?</h1>
<p>We believe the new Phoenix Burst Wallet makes it so easy to send and receive Burst, that even an Alien
  could do it. Also, life is short, and we think it’s important to work on things that inspire and motivate us. There’s
  just something about sending our software into space that appeals to us.</p>

  <h2>Want to build with us?</h2>
  <p>The Burst Apps Team is always looking for skilled programmers, marketers, and designers to help shape the future of cryptocurrency. If this sounds cool to you, check us out on <a href="https://github.com/burst-apps-team" target="_blank">Github</a> or <a href="https://www.reddit.com/r/burstcoin/" target="_blank">Reddit</a>.</p>

  <div class="credits">Copyright &copy; 2019 Burst Apps Team. Icons and graphics credit: <a href="http://vecteezy.com">Vecteezy</a></div>