<h1>We’re sending Burst to space, literally.</h1>
<h2>What is Burst?</h2>
<h3>Burst is a cryptocurrency from the future.</h3>
<p>Using a revolutionary consensus protocol called Proof of Capacity, Burst practically eliminates the energy costs associated with mining.</p>

<img src="images/rocket.png">

<ul>
  <li>7000X MORE ENERGY EFFICIENT THAN BITCOIN (todo: fact check)</li>
  <li>Truly decentralized: no pre-mine, no ICO</li>
  <li>Smart Contracts, Asset Exchange, and more</li>
</ul>

<h1>Wait, seriously?</h1>
<p>To celebrate the launch of the new Phoenix Burst wallet, we wanted to do something that symbolizes our excitement and celebrates our achievement. This is why we’ve linked up with the crazy minds at StackBlitz to launch this website promoting Burst into space.</p>

<h1>Why are we doing this?</h1>
<p>We believe the new Phoenix Burst wallet makes it so easy to start sending and receiving Burst, that even an Alien could do it. Also, life is short, and we think it’s important to work on things that inspire and motivate us. There’s something about sending our software into space that just appeals to us.</p>